:root {
    --hostBubbles-background: #1B1A1A;
    --hostBubbles-color: #ffffff;
    --guestBubbles-background: #FFFFFF;
    --guestBubbles-color: #010000;
    --buttons-background: green;
    --buttons-color: #010000;
    --inputs-background: #1B1A1A;
    --inputs-color: #ffffff;
    --inputs-placeholder-color: #9095A0;
    --general-background: #010000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--inputs-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--buttons-background);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--hostBubbles-background);
    border-radius: 5px;
}


body {
    background-color: var(--general-background);
    min-width: 100vw;
    min-height: 100vh;
}

footer {
    font-size: .75rem !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: var(--general-background);
    color: var(--inputs-placeholder-color);
    text-align: center;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 1rem !important;
}

.d-flex {
    position: relative !important;
    display: flex !important;
}

.wrap {
    flex-wrap: wrap !important;
}

.d-center {
    justify-content: center !important;
    align-items: center !important;
}

.d-around {
    justify-content: space-around !important;
    align-items: center !important;
}

.flex-column {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
}

.flex-1 {
    flex: 1 1 auto !important;
}

.container {
    overflow: hidden;
}

.loader {
    display: flex;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 1;
}

.spinner {
    display: block;
    content: "";
    border-color: transparent transparent var(--primary-FT-color) transparent;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: infinite spin 1s linear;
    transition: .5s;
}



/* media queries */
@media (min-width: 768px) {
    :root {
        font-size: calc(.75rem + ((1vw - 7.68px) * 0.6944));
        min-height: 0vw;
    }
}

@media (min-width: 1920px) {
    :root {
        font-size: 24px;
    }
}

/*  */
/* animation */

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

/*  */